/* Utility */
:root{
   --layout_primary:#FFFFFF;
   --layout_secondary:#00439C;
   --layout_brand:#000000;
   --btn_primary:#2D64E6;
   --btn_secondary:#CD3D0F;
   --btn_navbar:#363636;
   --btn_plus:#D9DADC;
   --btn_now:#F5F5F5;
   --text_primary:#727272;
   --text_no_limits:#0072CE;
   --bg_color_plus:#BEBCBB;
   --bg_color_now:#161C3B;
}
img{
    max-width: 100%;
}
h2, p{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 40px;
}
p{
    font-size: 16px;
}

/* EndUtility */

/* header */
.brand{
    background-color: var(--layout_brand);
}
.brand img{
    width: 10%;
}
/* navbar */
li img{
    width: 10px;
    margin-top: 4px;
}
#lens{
    width: 20px;
    margin-top: 2px;
    margin-left: 1rem;
}
/* Endnavbar */

/* Endheader  */

/* main */

/* jumbotron */
.jumbotron .bg_carousell{
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
}
.box_text{
    padding: 3rem 0;
}
.box_text img{
    width: 30%;
}

.btn_secondary{
    background-color: var(--btn_secondary);
}
/* Endjumbotron */



/* playstation5 */

/* info_playstation */

.text_no_limits{
    color: var(--text_no_limits);
} 
.text_primary{
    color: var(--text_primary);
}

/* Endinfo_playstation */

.btn_primary{
    background-color: var(--btn_primary);
}

/* Endplaystation5 */


/* itTakesTwo */
.takes_two .bg_carousell{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
}
/* EnditTakesTwo */


/* playstation_plus */
.playstation_plus {
    background-color:var(--bg_color_plus);
}
.logo_box_card img{
    width: 50%;
    padding-top: 2rem;
}
.text_primary{
    color: var(--text_primary);
}
.btn_plus{
    background-color: var(--btn_plus);
    color: var(--text_no_limits);
}
/* Endplaystation_plus */

/* playstation_store */
.playstation_now{
    background-color: var(--bg_color_now);
}
/* endplaystation_plus */

/* Endmain */

/* footer */
.playstation_link{
    background-color: var(--layout_secondary);
}
.logo_psn .size{
    width: 100px;   
}
.country_region img{
    width: 3%;
}
ul {
    list-style-type: none;
    }
li a{
    color: white;
    text-decoration: none;
}
.sie_logo img{
    width: 20%;
    padding-bottom: 1rem;
}
.sie_logo p{
    padding-bottom: 5rem;
}
/* endfooter */